<a href="https://colab.research.google.com/github/DaryllBanal1030/CpE0332.1-1-Elective-3/blob/main/Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variables and Data Types

In [ ]:
#Python uses five standard data types

#Numbers
varNum = 123
pi = 3.14159

#Strings
varString = "Hello World!"
varText = "This is a string"

#Lists
varList = ["abc", 123]

#Tuples
varTuple = ("abc", 123)

#Dictionaries
var = 3
varDict = {'first':1, '2':'2nd', 3:var}

varDict = {}
varDict['first'] = 1
varDict['2'] = '2nd'
varDict['3'] = var

print(varDict)

{'first': 1, '2': '2nd', '3': 3}

Arithmetic

In [ ]:
#Arithmetic

#Addition

a = 5 + 3
print(a)

#Subtraction

a = 5 - 3
print(a)

#Multiplication

a = 5 * 3
print(a)

#Exponent

a = 5 ** 3
print(a)

#Division

a = 5 / 3
print(a)

#Modulus

a = 5 % 3
print(a)

#Increment/Decrement

a = 5
a += 1
print(a)

a = 5
a -= 1
print(a)

a = 5
a *= 2
print(a)

a = 5
a /= 2
print(a)

#String Concatenation

a = "Hello " + "World!"
print(a)

#String Multiplication

a = "Hello " * 3
print(a)

#Complex Expressions

a = 3 + 5 - 6 * 2 / 4
print(a)

8
2
15
125
1.6666666666666667
2
6
4
10
2.5
Hello World!
Hello Hello Hello
5.0

Conditional Statements

In [ ]:
#Boolean Conditions

x = True

if x:
    print("var is True")
else:
    print("var is False")

#String Conditions

x = "Hello World!"
if x == "Hello World!":
    print("var x is Hello World!")
else:
    print("var x is not Hello World!")

#Numberical Conditions

x = 10
if x == '10':
    print("var x is a string")
elif x == 10:
    print("var x is an integer")
else:
    print("var x is none of the above")

var is True
var x is Hello World!
var x is an integer

Loops

In [ ]:
#Loops

#For Loops

for var in range(0, 5, 2):
    print(var)

#While Loops

var = 0
while var < 5:
    print(var)
    var += 2

#Nested Loops
x = 0
while x < 5:
    for y in range(0, x):
        print(y, end='')
    x+=1
    print()

0
2
4
0
2
4

0
01
012
0123

Functions

In [ ]:
#Functions are defined with the keyword def

def remainder(n, m):
  while True:
    if n - m < 0:
      return n
    n = n - m

remainder(10, 4)

2

Lists

In [ ]:
#Lists starts with an index of 0.
#The remove() method erases the first value that matches the parameter

pi = 3.141592653589793238462643
varlist = [1, 2, 'A', 'B', 'Hello!', pi]
print(varlist[0])
print(varlist[1])
print(varlist[2])
print(varlist[3])
print(varlist[4])
print(varlist[5])

1
2
A
B
Hello!
3.141592653589793

Dictionaries

In [ ]:
#Dictionaries

var = "Hello World!"
varDict = {'first':123, 2:'abc', '3':var, 4:['lista', 'listb']}
print(varDict['first'])
print(varDict[2])
print(varDict['3'])
print(varDict[4])

print(varDict[4][1])
len(varDict)

123
abc
Hello World!
['lista', 'listb']
listb

4

List Generators and Comprehenson

In [ ]:
def gen_num_up_to(n):
    num = 0
    while num <= n:
        yield num
        num += 1

gen_num_up_to(5)
varlist = gen_num_up_to(5)
print([var for var in varList])

def gen_num_up_to(n):
    num = 0
    while num < n:
        yield num
        num += 2
varList = gen_num_up_to(5)
print([var for var in varList])

['abc', 123]
[0, 2, 4]

Slicing

In [ ]:
#Slicing

varList =[1,2,3,4,5,6,7,8,9,10]
print(varList[:5])
print(varList[5:])
print(varList[:-2])
print(varList[-2:])
print(varList[2:-2])
print(varList[2:9])
print(varList[2:9:2])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[9, 10]
[3, 4, 5, 6, 7, 8]
[3, 4, 5, 6, 7, 8, 9]
[3, 5, 7, 9]