<a href="https://colab.research.google.com/github/DaryllBanal1030/CpE0332.1-1-Elective-3/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loop Statement

Example 1

In [ ]:
#create a loop statement showing sunday to saturday

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Example 2 - The Break Statement

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

Example 3 Break Statement

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break
  print (x)

Sunday
Monday
Tuesday
Wednesday

Example 4 - Looping through a String

In [ ]:
for x in "week":
  print(x)

w
e
e
k

Application no. 3 or Example 5 (Display only Thursday)

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

Example 6 - The range() function

In [ ]:
for x in range(6):
  print(x)

for x in range(2,6):
  print(x)

for x in range(2,30,3):
  print(x)

0
1
2
3
4
5
2
3
4
5
2
5
8
11
14
17
20
23
26
29

Example 7 - Nested Loop

In [ ]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Example 8 - While Statement

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1 # i+= = Assignment Operator

1
2
3
4
5

Example 9 - While Break Statement

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

Example 10 - While Continue Statement

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

Example 11 - While else Statement

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Create a python program that displays
Hello 0 - Hello 10

In [ ]:
# Using for loop and range
print("Using for loop and range:")
for i in range(11):
  print("Hello", i)

# Using for loop and break
print("\nUsing for loop and break:")
for i in range(100):
  if i == 11:
    break
  print("Hello", i)

# Using while loop
print("\nUsing while loop:")
i = 0
while i <= 10:
  print("Hello", i)
  i += 1

Using for loop and range:
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Using for loop and break:
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Using while loop:
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Create a Python program that displays integers less than 10 but not less than 3

In [ ]:
# Using for loop and range
print("Using for loop and range:")
for i in range(3, 10):
  print(i)

# Using while loop and break
print("\nUsing while loop and break:")
i = 3
while True:
  if i >= 10:
    break
  print(i)
  i += 1
# Using nested loops
print("\nUsing nested loops:")
for i in range(10):
  for j in range(3, 10):
    if i == j:
      print(i)
      break

Using for loop and range:
3
4
5
6
7
8
9

Using while loop and break:
3
4
5
6
7
8
9

Using nested loops:
3
4
5
6
7
8
9

In [ ]:
x = 0
a = 5
b = 5

if a>0:
  if b<0:
    x = x + 5
  elif a>5:
    x = x + 4
  else:
    x = x + 3
else:
  x = x + 2
print(x)

3