<a href="https://colab.research.google.com/github/DaryllBanal1030/CpE0332.1-1-Elective-3/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [1]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [3]:
x = 5
y = 2
if x>y:
  print("x is greater than y")

x is greater than y

In [4]:
print ("Hello World") #This is a python comment

Hello World

In [5]:
z,s = 1, -2
print(z,s)

1 -2

Casting

In [8]:
b = "Sally" #This is a string
b = float(4)
b

4.0

Type ()Function

In [9]:
print(type(b))

<class 'float'>

Double Quotes and Single Quotes

In [11]:
y = "John"
x = 'John'
print (y,x)

John John

Case Sensitive

In [16]:
a = 4
A = "Sally"
print(A,a)
#A will not overwrite a

Sally 4

Multiple Variables

In [17]:
x,y,z="one", "two", "three"
print(x,y,z)

one two three

One Value to Multiple Variables

In [18]:
x = y = z = "four"
print(x,y,z)

four four four

Output Variables

In [19]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

In [21]:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

Arithmetic Operations

In [22]:
x = 5
y = 3
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
#

8
2
15
1.6666666666666667
2
125

Assignment Operators

In [23]:
a,b,c=0,-1,6
c%=3
c
print (a,b,c)

0 -1 0

Comparison Operators and Logical Operators

In [24]:
a,b,c=0,-1,6
print(a>b and b>c)
print(a>b or b>c)
print(not(a>b or b>c))

False
True
False

Identity Operators

In [26]:
a,b,c=0,-1,6
print(a is b)
print(a is b)
print(a is not b)
#

False
False
True

Bitwise Operators

In [28]:
#10 = 1 =11 ; 1010 + 0001 = 1011
print(10 & 1)
print(10 | 1)
print(~10)
print(10^1)

a = 10
b = 1
print(a & b)
print(a | b)
print(~a)
print(a^b)
#

0
11
-11
11
0
11
-11
11

Create a Python program that displays your Fullname, Age, and Course and Section and set variables

In [29]:
#Create a Python program that displays your Fullname, Age, and Course and Section and set variables

fullname = "Daryll Banal"
age = 21
course = "Computer Engineering"
section = "CPE 0332.1-1"

print("Full name:", fullname)
print("Age:", age)
print("Course:", course)
print("Section:", section)

Full name: Daryll Banal
Age: 21
Course: Computer Engineering
Section: CPE 0332.1-1